@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
    background-color: white;
}

:root.dark {
    background-color: rgb(17, 24, 39);
    /* gray-900 */
}

html,
body {
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 min-h-screen;
}